<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Hello world!</title>
		<link rel="stylesheet" href="style.css">
	</head>

	<div id="app" v-cloak>
		<h1>{{ greeting }}</h1>

		<ul>
			<li v-for="name in names">{{ name }}</li>
		</ul>
		<button v-on:click="loadNames( )">load names</button>
		<br>
		<input type="text" v-model="new_name">
		<button v-on:click="submitNewName( )">submit</button>

		<p>{{ counter }}</p>
		<button v-on:click="counter++">increment</button>
		
		<br><br><br>

		<p v-if="age_group != '' ">You are a(n) {{ age_group }}</p>
		<input type="number" v-model="age">
		<button v-on:click="loadAgeGroup( )">load age group</button>

		<br><br><br>

		<ul>
			<li v-for="number in numbers">{{ number }}</li>
		</ul>
		<button v-on:click="loadNumbers( )">load numbers</button>
		<br>
		<input type="number" v-model="new_number">
		<button v-on:click="submitNewNumber( )">submit</button>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="code.js"></script>
</html>
